[Unit]
Description=JupyterLab Service
After=update_daemon.service

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/bin/bash -c "/usr/local/bin/jupyter-lab --no-browser --notebook-dir=/home/dsdkuser/jupyter/workspace/ --config=/home/dsdkuser/.jupyter/jupyter_notebook_config.py"
User=dsdkuser
Group=dsdkuser
WorkingDirectory=/home/dsdkuser/jupyter/workspace/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
